
C++/singleton.h.gch

*.stash

*.o

*.plist

Debug/CPPPractice.app/Contents/MacOS/CPPPractice

Debug/CPPPractice.app/Contents/PkgInfo

*.lproj

Debug/Makefile

C++/CPPPractice.pro.user

*.xcuserstate

CPP/CPP.xcodeproj/project.xcworkspace/xcuserdata/ht.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

CPP/CPP.xcodeproj/xcuserdata/ht.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

*.xcuserstate

CPP/CPP.xcodeproj/project.xcworkspace/xcuserdata/ht.xcuserdatad/UserInterfaceState.xcuserstate
